@charset "UTF-8";

#main {
	/* background-color: #ccffff; */
}

body {
	font-family: sans-serif;
}


.left {
    width: 35%;
    height: 750px;
    /* background-color: #eeeeee; */
    float: left;
    border-right: 1px solid #cccccc;
}

.right {
    width: 65%;
    height: 750px;
   /*  background-color: #ffffcc; */
    float: right;
    text-align: center;
    margin: 0 auto;
}