<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Clothe list</title>
<link rel="stylesheet" th:href="@{/css/clothe/list.css}">
</head>
<body>
	<div layout:fragment="list">
		<div class="list-wrap">
			<div class="list-content">

				<div class="first-tier">
					<!--カテゴリー別検索  -->
					<!-- <div class="category-search">
						<div class="dropdown">
							<button onclick="myFunction()" class="dropbtn">Category</button>
							<div id="myDropdown" class="dropdown-content">
								<a th:href="@{/index}">Home</a> <a href="#about">About</a> <a
									href="#contact">Contact</a>
							</div>
						</div>
					</div> -->
					
					<!-- 検索フォーム -->
					<div class="search">
						<div class="search-container">
							<form th:action="@{/index}" method="post" th:object="${clotheSearchForm}">
								<input class="search-input" type="search" th:field="*{clotheName}" placeholder="Enter keyword"> 
								<input class="search-button" type="submit" value="search" name="search">
							</form>
						</div>
					</div>
					<!-- 新規登録ボタン -->
					<div class="new-registration">
						<div class="new-registration-container">
							<a th:href="@{/index/registration}">
								<button type="button">+NEW</button>
							</a>
						</div>
					</div>
				</div>

                <div class="second-tier">
					<!-- listに表示される服の総数 -->
					<p class="item-count" th:text="${clotheNum + ' items'}"></p>

					<!-- sort -->
					<!-- <div class="sort">
						<p>↑↓</p>
					</div> -->
				</div>

				<!-- List -->
				<div class="clothe-list">
					<!-- dataがない場合 -->
					<div class="no-data" th:if="${clotheList[0].clotheId == '0'}">
						<h2 th:text="${clotheList[0].clotheName}"></h2>
					</div>
					<!--list表示  -->
					<div th:if="${clotheList[0].clotheId != '0'}" class="list">
						<table class="clothe-table">
							<thead class="">
								<tr>
									<th class="clothe-category-icon th-width"></th>
									<th th:text="#{clothe.list.clotheName}" class="th-name th-width"></th>
									<th th:text="#{clothe.list.storage}" class="th-storage th-width"></th>
									<!-- <th th:text="#{clothe.list.RegiDate}" class="th-regidate th-width"></th> -->
									<th class="th-detail-button th-width"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item:${clotheList}">
									<td class="clothe-icon-td">
									    <img class="clothe-icon" th:src="@{'/images/'+ ${item.category.categoryName} + '-icon.png'}">
									</td>
									<td th:text="${item.clotheName}"></td>
									<td th:text="${item.storage.storageName}"></td>
									<!-- <td th:text="${#dates.format(item.registeredDate,'YYYY/MM/dd')}"></td> -->
									<td>
										<form action="/index" method="post">
											<input type="hidden" name="id" th:value="${item.clotheId}">
											<input type="hidden" name="searchWord"
												th:value="${clotheSearchForm.clotheName}"> <input class="detail-button"
												type="submit" value="detail" name="detail">
										</form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>