<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1,
shrink-to-fit=no"> -->

<!-- <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"> -->
<link rel="stylesheet" th:href="@{/css/layout/layout.css}">
<link rel="stylesheet" th:href="@{/css/clothe/list.css}">
<link rel="stylesheet" th:href="@{/css/clothe/detail.css}">
<link rel="stylesheet" th:href="@{/css/reset.css}">
<!-- JS -->
<!-- <script th:src="@{/js/list.js}" defer></script> -->
<title>Closet App</title>
</head>
<body>
	<section id="main">
		<div class="left">
			<div layout:replace="~{clothe/list::list}"></div>
		</div>
		<div class="right">
			<div layout:replace="~{clothe/detail::detail}"></div>
		</div>
	</section>
</body>
</html>