<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--Mapperとxmlのマッピング-->
<mapper namespace="com.example.demo.repository.ClotheMapper">

<resultMap type="com.example.demo.model.Clothe" id="clothe">
  <id column="clothe_id" property="clotheId"/>
  <result column="clothe_name" property="clotheName"/>
  <result column="category_id" property="categoryId"/>
  <result column="storage_code" property="storageCode"/>
  <result column="registered_date" property="registeredDate"/>
  <association property="category" resultMap="category"/>
  <association property="storage" resultMap="storage"/>
</resultMap>

<!--画像あり-->
<resultMap type="com.example.demo.model.Clothe" id="clotheOne">
  <id column="clothe_id" property="clotheId"/>
  <result column="clothe_image" property="clotheImage"/>
  <result column="clothe_name" property="clotheName"/>
  <result column="category_id" property="categoryId"/>
  <result column="storage_code" property="storageCode"/>
  <result column="registered_date" property="registeredDate"/>
  <association property="category" resultMap="category"/>
  <association property="storage" resultMap="storage"/>
</resultMap>

<resultMap type="com.example.demo.model.Category" id="category">
  <id column="category_id" property="categoryId"/>
  <result column="category_name" property="categoryName"/>
</resultMap>

<resultMap type="com.example.demo.model.Storage" id="storage">
  <id column="storage_code" property="storageCode"/>
  <result column="storage_name" property="storageName"/>
</resultMap>

<insert id="insertOne">
  insert into clothes(
  clothe_id,
  clothe_image,
  clothe_name,
  category_id,
  storage_code,
  registered_date
  )values(
  #{clotheId},
  #{clotheImage},
  #{clotheName},
  #{categoryId},
  #{storageCode},
  CURRENT_DATE())
  
</insert>

<select id="findMany" resultMap="clothe">
    SELECT clothe_id, clothe_name, clothes.category_id, registered_date, clothes.storage_code, categories.category_id, category_name, storages.storage_code, storage_name FROM clothes
    INNER JOIN categories ON clothes.category_id = categories.category_id
    INNER JOIN storages ON clothes.storage_code = storages.storage_code
    <where>
      <if test="clotheName != null">
        clothe_name LIKE CONCAT('%',#{clotheName},'%') OR categories.category_name LIKE CONCAT('%',#{clotheName},'%')
      </if>
    </where>
    ORDER BY clothe_id
</select>

<select id="findOne" resultMap="clotheOne">
    SELECT * FROM clothes
    INNER JOIN storages ON clothes.storage_code = storages.storage_code
    INNER JOIN categories ON clothes.category_id = categories.category_id
    WHERE clothe_id = #{clotheId}
</select>

<select id="getMaxId" resultType="String">
    select max(clothe_id) from clothes
</select>

<select id="getMinId" resultType="String">
    SELECT MIN(clothe_id) FROM clothes
</select>

<update id="updateOne">
    UPDATE clothes SET clothe_name = #{clotheName}, category_id = #{categoryId}, storage_code = #{storageCode} WHERE clothe_id = #{clotheId}
</update>

<delete id="deleteOne">
    DELETE FROM clothes WHERE clothe_id = #{clotheId}
</delete>

<select id="getAllCategories" resultType="Category">
    SELECT * FROM categories ORDER BY category_name;
</select>

<select id="getOneCategory" resultType="Category">
    SELECT * FROM categories WHERE category_id = #{categoryId}
</select>

<select id="getAllCategoriesExceptOne" resultType="Category">
    SELECT * FROM categories WHERE category_id != #{excludedId} ORDER BY category_name
</select>

<select id="getAllStorages" resultType="Storage">
    SELECT * FROM storages ORDER BY storage_name;
</select>

<select id="getStorageOne" resultType="Storage">
    SELECT * FROM storages WHERE storage_name = #{storageName};
</select>

<select id="getStoragesMaxCode" resultType="String">
    select max(storage_code) from storages
</select>

<insert id="insertStorageOne">
  insert into storages(
  storage_code,
  storage_name
  )values(
  #{storageCode},
  #{storageName})
</insert>

</mapper>
