<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--Mapperとxmlのマッピング-->
<mapper namespace="com.example.demo.repository.ClotheMapper">

<insert id="insertOne">
  insert into clothes(
  clothe_id,
  clothe_image,
  clothe_name,
  category_id,
  storage,
  registered_date
  )values(
  #{clotheId},
  #{clotheImage},
  #{clotheName},
  #{categoryId},
  #{storage},
  CURRENT_DATE())
  
</insert>

<select id="findMany" resultType="Clothe">
    select * from clothes
    <where>
      <if test="clotheName != null">
        clothe_name LIKE '%' || #{clotheName} || '%'
      </if>
    </where>
</select>

<select id="findOne" resultType="Clothe">
    select * from clothes where clothe_id = #{clotheId}
</select>

<select id="getMaxId" resultType="String">
    select max(clothe_id) from clothes
</select>

<select id="getMinId" resultType="String">
    SELECT MIN(clothe_id) FROM clothes
</select>

<update id="updateOne">
    UPDATE clothes SET clothe_name = #{clotheName}, category_id = #{categoryId}, storage = #{storage} WHERE clothe_id = #{clotheId}
</update>

<delete id="deleteOne">
    DELETE FROM clothes WHERE clothe_id = #{clotheId}
</delete>

<select id="getAllCategories" resultType="Category">
    SELECT * FROM categories
</select>

<select id="getOneCategory" resultType="Category">
    SELECT * FROM categories WHERE category_id = #{categoryId}
</select>

<select id="getAllCategoriesExceptOne" resultType="Category">
    SELECT * FROM categories WHERE category_id != #{excludedId}
</select>
</mapper>
